.off{ display: none;}
.on{ display: block;}

.window_gameset {
  position: relative;
  top: 10%;
  margin: auto;
  width: 50%;
  height: 70%;
  border: 1px solid #ddd;
  text-align: center;
  padding: 50px 0;
}

.window_gameset h1{
  font-size: 28px;
}

.window_gameset button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 0px 2px 0px 1px #888,
  0px 0px 0px 1px #888;
}

.window_gameset button:active{
  box-shadow: 0px 0px 0px 1px #888;
  transform: translateY(2px);

}

.session_set{
  position:relative;
  top: 16%;
}

.open_session{
  position:relative;
  padding: 10px;
  padding-bottom: 60px;
  width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
}

.connect_session{
  position:relative;
  padding: 10px;
  width: 200px;
  margin: 50px auto 0;
}

.nick_setting{margin-bottom: 15px;}
.connect_setting{margin-bottom: 40px;}

.connect_session input {
  width: 100px;
  height: 20px;
  margin-left: 4px;
  padding-left: 3px;
  font-size: 14px;
}

.new_session{
  position:relative;
  top: 16%;
  height: 84%;
}

.session_num{
  margin-bottom: 30px;
  text-align: left;
  padding: 0 5%;
}
.session_num>span:first-child{
  font-size: 22px;
}
.session_players{
  margin-bottom: 30px;
  text-align: left;
  padding: 0 5%;
}
.session_players>span:first-child{
  font-size: 22px;
}

#close_session_btn{
  position: absolute;
  width: 30%;
  color: #b44344;
  bottom: 0;
  left: 5%;
  height: 15%;
  font-size: 20px;
}
#start_session_btn{
  width: 55%;
  color: #449744;
  position: absolute;
  bottom: 0;
  right: 5%;
  height: 15%;
  font-size: 20px;
}