#window_map {
  display: none;
}

#window_charactor {
  display: none;
}

#window_ground {
  position: absolute;
  right: 0;
  top: 30px;
  width: 70%;
  height: calc(100% - 30px - 30px);
  overflow: hidden;
}

#window_log {
  position: absolute;
  left:0;
  top: 30px;
  width: 30%;
  height: calc(65% - 30px);
  border: 1px solid #ddd;
}

#window_buttons {
  position: absolute;
  left:0;
  bottom: 30px;
  width: 30%;
  height: calc(35% - 29px);
  border: 1px solid #ddd;
}