.component{ display: none;}
.component.on{ display: block;}

.window_gameset {
  position: relative;
  top: 10%;
  margin: auto;
  width: 50%;
  height: 70%;
  border: 1px solid #ddd;
  text-align: center;
  padding: 50px 0;
}

.window_gameset h1{
  font-size: 28px;
}

button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 0px 2px 0px 1px #888,
  0px 0px 0px 1px #888;
}

button:active{
  box-shadow: 0px 0px 0px 1px #888;
  transform: translateY(2px);
}

.session_set{
  position:relative;
  top: 16%;
}

.open_session{
  position:relative;
  padding: 10px;
  padding-bottom: 60px;
  width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
}

.connect_session{
  position:relative;
  width: 100%;
  margin: 30px auto 0;
}

.nick_setting{margin-bottom: 15px;}
.connect_setting{margin-bottom: 40px;}

.connect_session input {
  width: 100px;
  height: 20px;
  margin-left: 4px;
  padding-left: 3px;
  font-size: 14px;
}

.new_session>span{
  display: block;
  margin-top: 10%;
  margin-bottom: 8%;
  font-size: 18px;
  padding: 0 30px;
  line-height: 26px;
  word-break: keep-all;
}
.new_session b{color: #adade4;font-weight: bold;}


.session_warn{
  margin-bottom: 15px;
  display: block;
  font-size: 14px;
  color: #dc4d4d;
  opacity: 0;
}
.session_warn.on{
  opacity: 1;
}

.wait_session>span{
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
}
.session_num{
  margin-bottom: 30px;
  text-align: left;
  padding: 0 5%;
}
.session_num>span{ font-size: 22px;}
.session_number{ 
  color: #449744; 
  font-weight: bold;
  font-size: 24px;
}
.main_screen .session_number{ 
  color: #aaa; 
  font-size: 18px;
}
.session_players{
  margin-bottom: 30px;
  text-align: left;
  padding: 0 5%;
  font-size: 16px;
}
.session_players>span:first-child{ font-size: 22px;}

#close_session_btn{
  position: absolute;
  width: 30%;
  color: #b44344;
  bottom: 3%;
  left: 5%;
  height: 15%;
  font-size: 20px;
}
#exit_session_btn{
  position: absolute;
  width: 90%;
  color: #b44344;
  bottom: 3%;
  left: 5%;
  height: 10%;
  font-size: 20px;
}
#start_session_btn{
  width: 55%;
  color: #449744;
  position: absolute;
  bottom: 3%;
  right: 5%;
  height: 15%;
  font-size: 20px;
}
.main_screen > div {position: absolute; box-sizing: border-box;}
.main_display{height: 55%;width: 50%;left: 25%;top: 15%;overflow: hidden;padding: 2% 2% 0;}
.bingo_display{ border-right: 1px solid #eee; height: 100%; width: calc(25% + 1px); left: 0;}
.players_display{ border-left: 1px solid #eee; height: 100%; width: calc(25% + 1px); right: 0;}
.top_display{ border-bottom: 1px solid #eee; height: calc(15% + 1px); width: 50%; top: 0; left: 25%; padding: 5px 10px;}
.bottom_display{ border-top: 1px solid #eee; height: calc(30% + 1px); width: 50%; bottom: 0; left: 25%;}

.main_display .main_msg{
  display: block;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  word-break: keep-all;
  line-height: 28px;
  font-weight: 300;
}
.main_display .main_msg_big{
  display: block;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
.main_display button{
  display: block;
  position: absolute;
  right: 30%;
  width: 40%;
  height: 15%;
  font-size: 20px;
  color: #449744;
  margin: auto;
  bottom: 5%;
}