.component{ display: none;}
.component.on{ display: block;}

.window_gameset {
  position: relative;
  top: 10%;
  margin: auto;
  width: 50%;
  height: 70%;
  border: 1px solid #ddd;
  padding: 50px 0 0;
  overflow-y: scroll;
}
.window_gameset::-webkit-scrollbar{width: 1px;}

.window_gameset h1{
  font-size: 28px;
}

button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 0px 2px 0px 1px #888,
  0px 0px 0px 1px #888;
}

button:active{
  box-shadow: 0px 0px 0px 1px #888;
  transform: translateY(2px);
}

.session_set{
  position:relative;
  top: 16%;
}

.open_session{
  position:relative;
  padding: 10px;
  padding-bottom: 60px;
  width: 270px;
  margin: 0 auto;
}

.connect_session{
  position:relative;
  width: 100%;
  margin: 30px auto 0;
}

.nick_setting{margin-bottom: 15px;}
.connect_setting{margin-bottom: 40px;}

.connect_session input {
  width: 100px;
  height: 20px;
  margin-left: 4px;
  padding-left: 3px;
  font-size: 14px;
}

.new_session>span{
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 0 30px;
  line-height: 26px;
  word-break: keep-all;
}
.new_session b{color: #adade4;font-weight: bold;}


.session_warn{
  margin-bottom: 15px;
  display: block;
  font-size: 14px;
  color: #dc4d4d;
  opacity: 0;
}
.session_warn.on{
  opacity: 1;
}

.wait_session>span{
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
}
.session_num{
  margin-bottom: 20px;
  text-align: left;
  padding: 0 5%;
}
.session_num>span{ font-size: 20px;}
.session_number{ 
  color: #449744; 
  font-weight: bold;
  font-size: 20px;
}
.main_screen .session_number{
  color: #eee;
  font-size: 16px;
  font-weight: 500;
}
.session_players{
  margin-bottom: 20px;
  text-align: left;
  padding: 0 5%;
  font-size: 16px;
}
.session_players>span:first-child{ font-size: 20px;}
.session_nick{
  margin-bottom: 20px;
  text-align: left;
  padding: 0 5%;
  font-size: 20px;
}
.session_potrait{
  text-align: left;
  padding: 0 5%;
  margin-top: -30px;
}
.session_potrait>span{
  font-size: 20px;
}
.session_potrait>img{
  position: relative;
  width: 100px;
  top: 40px;
  margin-left: 10px;
  cursor: pointer;
}
.session_potrait>button{
  width: 50px;
  margin-left: 20px;
}

.potrait_picker{margin-top: 30px;}
.potrait_picker > span{
  font-size: 20px;
}
.picker_window{margin-top: 15px;}
.picker_window img{
  width: 100%;
  cursor: pointer;
}
.picker_window .potrait:nth-child(4n+1){
  clear:both;
}
.picker_window .potrait{
  float: left;
  width: 21%;
  margin: 2%;
  position: relative;
}
.picker_window .potrait.used::after{
  content: '사용 중';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  color: #eee;
  height: 100%;
  width: 100%;
  padding-top: 40%;
  left: 0;
  top: 0;
  font-size: 18px;
  box-sizing: border-box;
}

#close_session_btn{
  position: absolute;
  width: 30%;
  color: #b44344;
  bottom: 3%;
  left: 5%;
  height: 15%;
  font-size: 20px;
}
#exit_session_btn{
  position: absolute;
  width: 90%;
  color: #b44344;
  bottom: 3%;
  left: 5%;
  height: 10%;
  font-size: 20px;
}
#start_session_btn{
  width: 55%;
  color: #449744;
  position: absolute;
  bottom: 3%;
  right: 5%;
  height: 15%;
  font-size: 20px;
}
.main_screen > div {position: absolute;box-sizing: border-box;}
.main_display{height: 60%;width: 45%;left: 25%;top: 8%;overflow: hidden;padding: 2% 7px 0 2%;border: 1px solid #eee;}

.bingo_display{height: 70%;width: calc(25% + 1px);left: 0;}
.players_display{height: 100%;width: calc(30% + 1px);right: 0;}
.top_display{height: calc(8% + 1px);width: 50%;top: 0;left: 25%;padding: 20px 15px 0;text-align: left;}
.communes_display{height: calc(32% + 1px);width: 75%;bottom: 0;left: 0;text-align: left;}

.main_display ::-webkit-scrollbar {  width: 10px; border-radius: 4px;}
.main_display .message_box{
  position: relative;
  height: 70%;
  overflow-y:scroll;
}
.main_display .main_msg{
  display: block;
  font-size: 20px;
  margin-top: 20px;
  word-break: keep-all;
  line-height: 28px;
}
.main_display .main_msg_big{
  display: block;
  font-size: 24px;
  margin-top: 20px;
}
.main_display .old1{ opacity: 0.65;}
.main_display .old2{ opacity: 0.55;}
.main_display .old3{ opacity: 0.4;}

.main_display button{
  display: block;
  position: absolute;
  right: 30%;
  width: 40%;
  height: 15%;
  font-size: 20px;
  color: #449744;
  margin: auto;
  bottom: 5%;
}

.namespace{
  position: relative;
  font-size: 20px;
  width: 90%;
  margin: 30px auto 0;
  padding-bottom: 7px;
}

 .namespace .changing_name{
   position: absolute;
    width: 100%;
    height: 100%;
 }

.bingo_display .namespace{
  margin-top: 22px;
  width: 80%;
  position: relative;
  height: 22px;
}
    

.communes{
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  min-width: 305px;
}

.communes_display .commune{
    float: left;
    padding: 10px 15px;
    line-height: 25px;
    margin-top: 5px;
}
.communes_display .commune i{
    font-size: 28px;
    display: block;
}
.communes_display .commune h1{
    font-size: 18px;
    margin-top: 7px;
    font-weight: 500;
}

.players_display .namespace{
  margin-top: 22px;
  width: 80%;
  position: relative;
  height: 22px;
}
.players_display .player{
  margin-top: 15px;
  position: relative;
  text-align: left;
  margin-left: 10%;
}
.players_display img{width: 45px;border: 1px solid #aaa;padding: 2px;box-sizing: border-box;border-radius: 3px;}
.players_display .player_desc{display: inline-block;position: relative;top: -20px;}
.players_display .nick{
  font-size: 18px;
  line-height: -30px;
  margin-left: 5px;
  display: inline-block;
}
.players_display .state{
  font-size: 14px;
  display: inline-block;
  /* margin-left: 5px; */
}


.component.on{ animation: fadeIn 0.3s ease-in; }
.fadeIn{ animation: fadeIn 0.5s ease-in;}
.fadeOut{ animation: fadeOut 0.5s ease-in; animation-fill-mode: forwards;}
.delayedFadeIn{ 
  opacity:0; 
  animation: fadeIn 0.6s ease-in 0.3s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {  0% {opacity: 0;}  100% {opacity: 1;}}
@keyframes fadeOut {  0% {opacity: 1;}  100% {opacity: 0;}}

.animated_bottom_line{
  position: absolute; z-index: -1; width: 100%; height: 100%; top: 0; left: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
  transform: scaleX(0);
  animation: spendLineX 0.7s cubic-bezier(.49,.05,.55,1.01) 0.3s;
  animation-fill-mode: forwards;
}
.animated_icon{
  transform: scaleX(0);
  animation: sepndIcon 0.3s cubic-bezier(.5,0,.65,1.43);
  animation-fill-mode: forwards;
}

@keyframes spendLineX {  0% {transform: scaleX(0);}  100% {transform: scaleX(1);}}
@keyframes sepndIcon {0% {transform: scale(0);}  100% {transform: scale(1);}}
