@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

button, input {
  outline: none;
  background-color: #272824;
  color: #e0dcdc;
  border: 1px solid #eee;
}
a {
  text-decoration: none;
  color: black;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'NanumSquare';
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-width: 1280px;
  min-width: 900px;
  font-size: 15px;
  background-color: #272823;
  color: #eee;
}
#content {
  height: 100%;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
