<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/game.css">

</head>

<body>

  <div id="content">
    
    <section id="window_gameset">
      <h1>< 빈고 게임 : 웹 ></h1>
      <div class="new_session">
        <div class="open_session">
          <button type="">새 세션 열기</button>
        </div>
        <div class="connect_session">
          <div class="connect_setting">
            <span>세션 번호 : </span>
            <input type="text" name="" value="">
            <span class="session_warn"></span>
          </div>
          <button type="">세션 접속</button>
        </div>
      </div>

    </section>

  </div>


  <% include ../../partials/footer %>
</body>

<% include ../../partials/javascript %>
<script src='/js/game.js'></script>
</html>