<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/game.css">
  <% include ../../partials/javascript %>
  <script src='/js/game.js'></script>
  
</head>

<body>

  <div id="content">
    
    <section class="window_gameset component on">
      <h1>< 빈고 게임 : 웹 ></h1>
      <div class="session_set component on">
        <div class="open_session">
          <button id="new_session_btn">새 세션 열기</button>
        </div>
        <div class="connect_session">
          <span class="session_warn">text</span>
          <div class="nick_setting">
            <span>별명 설정 : </span><input type="text" id="nick_input">
          </div>
          <div class="connect_setting">
            <span>세션 번호 : </span><input type="text" id="session_input">
          </div>
          <button id="connect_session_btn">세션 접속</button>
        </div>
      </div>

      <div class="new_session component">
        <span><b>bingobank.xyz/game</b> 에 들어가서 아래의 세션 번호를 입력하세요.</span>
        <div class="session_num">
          <span>세션 번호 : </span><span class="session_number"></span>
        </div>
        <div class="session_players">
          <span>접속자 : </span><span class="player_list"></span>
        </div>
        <button id="close_session_btn">세션 닫기</button>          
        <button id="start_session_btn">세션 시작</button>
      </div>

      <div class="wait_session component">
        <span>세션이 시작되길 기다립니다.</span>
        <div class="session_num">
          <span>세션 번호 : </span><span class="session_number"></span>
        </div>
        <div class="session_players">
          <span>접속자 : </span><span class="player_list"></span>
        </div>
        <button id="exit_session_btn">세션 나가기</button>
      </div>
    </section>

    <section class="main_screen component">

      <div class="main_display">
        <div class = "message_box">
          
        </div>
        <div class = "button_box">
          
        </div>
      </div>
      <div class="bingo_display">
        <div class="namespace">
        </div>
      </div>
      <div class="players_display">
      </div>
      <div class="top_display">
        <span class="session_desc">세션 번호 : </span><span class="session_number"></span>
      </div>
      <div class="bottom_display">
      </div>

    </section>

    <section class="user_screen component">

    </section>

  </div>


  <% include ../../partials/footer %>
</body>
    
</html>