<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/stylesheet %>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/game.css">

</head>

<body>

  <div id="content">
    
    <section id="window_map">
      map
    </section>

    <section id="window_charactor">
      charactor
    </section>

    <section id="window_ground">
      <% include ../../windows/ground %>
    </section>

    <section id="window_log">
      logger
    </section>

    <section id="window_buttons">
      buttons
    </section>

  </div>


  <% include ../../partials/footer %>
</body>

<% include ../../partials/javascript %>
<script src='/js/game.js'></script>
</html>